<div calss = 'container'>
  <mat-card>
    <mat-card-header>
      <mat-card-title style="align-items: center;">Contact Data</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="createContact()" #form="ngForm">
        <mat-form-field>
          <input matInput placeholder="Name" id = "name" name="name" [(ngModel)]="contact.nome" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Telephone" id = "phone" name="phone" [(ngModel)]="contact.telefone" required>
        </mat-form-field>
        <button mat-raised-button color="Accent" type="submit" *ngIf="!showButton" name="saveButton">Save</button>
        <button mat-raised-button color="Accent" (click)="updateInformatio()" *ngIf="showButton">Update</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>


<div class="table-container" id = "tbl">
<table class = "mat-elevation-z8 demo-table">
  <thead matColumnDef="demo-position">
    <h1 class ="title">Contact List</h1>
    <tr>
      <th >#</th>
      <th>Name</th>
      <th>Phone Number</th>
      <th >Edit</th>
      <th >Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of contacts; index as i">
      <td>{{i+1}}</td>
      <td>{{c.nome}}</td>
      <td>{{c.telefone}}</td>
      <td >
        <button mat-raised-button color="primary" class="edit-button" name = "edit-button" (click)="updateContact(c.id)">Edit</button>
      </td>
      <td>
        <button mat-raised-button color="warn" class="delete-button" name = "delete-button" (click)="deleteContact(c.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
